<%- include("partials/header") %>

<h1>Net Generator/Scratch Point</h1>
<p>Welcome to Net Generator/Scratch Point, a site that can generate matches on the fly!</p>

<form action="/" method="POST">

    <!--<% for (let player of ["player1", "player2"]) { %>
        <div>
            <input type="text" name="<%= player %>[name]" placeholder="Name" required>
        </div>

        <div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="<%= player %>_plays_right" name="<%= player %>[plays]" value="right" class="custom-control-input" checked>
                <label class="custom-control-label" for="<%= player %>_plays_right">Right</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" id="<%= player %>_plays_left" name="<%= player %>[image]" class="custom-control-input">
                <label class="custom-control-label" for="<%= player %>_plays_left">Left</label>
            </div>
        </div>

        <div>
            <input type="text" name="<%= player %>[image]" placeholder="Paste Image URL">
        </div>
    <% } %>-->

    <button type="submit" class="btn btn-primary">Generate Match Data</button>

</form>

<%- include("partials/footer") %>
