<%- include("../partials/header") %>

<h1>Match Data</h1>

<a href="/match">Go back</a>


<div class="row">

  <div class="col-md-6">
    <h2 class="sub-header">Points</h2>
    <p>Click on a point (row) and see the rally for that point in the right table.</p>
    <div class="table-responsive" id="pointTable"></div>
  </div>
 
  <div class="col-md-6">
    <h2 class="sub-header">Shots</h2>
    <p>Rally for Point # : <strong><span id="pointClicked"></span></strong></p>
    <div class="table-responsive" id="shotTable"></div>
  </div>
 
</div>




<script>

  // function to draw google charts
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {

    // initialize point data
    const pointData = [];
    // add point columns
    const pointDataColumns = ["Point #", "Set Score", "Game Score", "Point Score", "Server", "Side", "Rally Length", "Winner", "Result"];
    pointData.push(pointDataColumns);
    
    // add point rows
    <% data.forEach(point => { %>
      pointData.push([
        <%= point.point %>,
        "<%= point.setScore %>",
        "<%= point.gameScore %>",
        "<%= point.pointScore %>",
        "<%= point.server %>",
        "<%= point.side %>",
        <%= point.rallyLength %>,
        "<%= point.winner %>",
        "<%= point.result %>"
      ]);
    <% }); %>
    
    // combine columns and rows into one array to create data for 'table' chart
    const pointTableData = google.visualization.arrayToDataTable(pointData);
    
    // Create and draw table from data
    const pointTable = new google.visualization.Table(document.getElementById('pointTable'));
    const pointTableOptions = {sort: "disable", height: "500px"};
    pointTable.draw(pointTableData, pointTableOptions);

    // add listener for point table rows
    google.visualization.events.addListener(pointTable, "select", clickPointRow);
    function clickPointRow(e) {

      // get "point #" for row clicked
      const rowClicked = pointTable.getSelection()[0];
      if (rowClicked) {
        // get point number
        const pointNum = pointTableData.getValue(rowClicked.row, 0);
        document.getElementById("pointClicked").textContent = pointNum;

        const shotData = [];
        // create shot columns
        const shotDataColumns = ["Shot #", "Shot # w/Serve", "Shot By", "Shot", "Location", "Result"];
        shotData.push(shotDataColumns);

        <% data.forEach(point => { %>
          if (<%= point.point %> === pointNum) {
            <% point.shots.forEach(shot =>  { %>
              shotData.push([
              <%= shot.shotNum %>,
              <%= shot.shotNumWithServe %>,
              "<%= shot.shotBy %>",
              "<%= shot.shotStroke %>",
              "<%= shot.shotLocation %>",
              "<%= shot.shotResult %>"
              ]);
            <% }) %>
          }
        <% }) %>
        // combine columns and rows into one array to create data for 'table' chart
        const shotTableData = google.visualization.arrayToDataTable(shotData);
    
        // Create and draw table from data
        const shotTable = new google.visualization.Table(document.getElementById('shotTable'));
        const shotTableOptions = {sort: "disable"};
        shotTable.draw(shotTableData, shotTableOptions);
        
      } else {
        document.getElementById("pointClicked").textContent = "";
        document.getElementById("shotTable").innerHTML = "";
      }

    }
    //// set up shotTable Columns
    //const shotData = new google.visualization.DataTable();
    //shotData.addColumn("number", "Point #");
    //shotData.addColumn("number", "Shot #");
    //shotData.addColumn("number", "Shot # w/Serve");
    //shotData.addColumn("string", "Shot By");
    //shotData.addColumn("string", "Shot");
    //shotData.addColumn("string", "Shot Location");
    //shotData.addColumn("string", "Result");

    //// Add rows to data
    //const pointRows = [];
    //const shotRows = [];
    //<% data.forEach(point => { %>
    //  pointRows.push([
    //    <%= point.point %>,
    //    "<%= point.setScore %>",
    //    "<%= point.gameScore %>",
    //    "<%= point.pointScore %>",
    //    "<%= point.server %>",
    //    "<%= point.side %>",
    //    "<%= point.rallyLength %>",
    //    "<%= point.winner %>",
    //    "<%= point.result %>"
    //  ]);
    //  <% point.shots.forEach(shot => { %>
    //    shotRows.push([
    //      <%= point.point %>,
    //      <%= shot.shotNum %>,
    //      <%= shot.shotNumWithServe %>,
    //      "<%= shot.shotBy %>",
    //      "<%= shot.shotStroke %>",
    //      "<%= shot.shotLocation %>",
    //      " <%= shot.shotResult %>"
    //    ]);
    //  <% }) %>
    //  <% }) %>

    //  pointData.addRows(pointRows);
    //  shotData.addRows(shotRows);

    //// Create and draw table from data
    //const pointTable = new google.visualization.Table(document.getElementById('pointTable'));
    //const pointTableOptions = {sort: "disable"};
    //pointTable.draw(pointData, pointTableOptions);

    ////const shotTable = new google.visualization.Table(document.getElementById('shotTable'));
    ////const shotTableOptions = {sort: "disable"};
    ////shotTable.draw(shotData, shotTableOptions);
    //let shotView;
    
    //// "click listener" function to filter shot table rows based on point clicked
    //google.visualization.events.addListener(pointTable, "select", clickPointRow);
    //function clickPointRow(e) {

    //  // get "point #" for row clicked
    //  const selectedRow = pointTable.getSelection()[0];
    //  if (selectedRow) {
    //    const pointNum = pointData.getValue(selectedRow.row, 0);
    //    document.getElementById("pointClicked").textContent = pointNum;
    //    shotView = new google.visualization.DataView(shotData);
    //    // filter shot data
    //    shotView.setRows(shotView.getFilteredRows([{column: 0, value: pointNum}]));
    //  } else {
    //    document.getElementById("pointClicked").textContent = '';

    //    shotView = new google.visualization.DataView(shotData);
    //  }
      
    //  const shotTable = new google.visualization.Table(document.getElementById("shotTable"));
    //  shotTable.draw(shotView);


    //}

  };




</script>
<%- include("../partials/footer") %>
