<%- include("../partials/header") %>

<h1>Points2Set</h1>
<a href="/match">Go back</a>

<p>See point flow throughout set</p>

<div id="dashboard_div">
    <div id="filter_div"></div>
    <div id="chart_div"></div>
</div>

<script>

    // function to draw google charts
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        // initialize data table
        const data = new google.visualization.DataTable();
        // add columns
        data.addColumn("number", "Set in Match");
        data.addColumn("number", "Game in Set");
        data.addColumn("number", "Point in Game");
        data.addColumn("number", "Point Number");
        data.addColumn("number", "<%= data[0].server %>");
        data.addColumn("number", "<%= data[0].receiver %>");

        // game score
        data.addColumn({type: "string", role: "annotationText"});
        // server
        data.addColumn({type: "string", role: "annotationText"});
        // winner
        data.addColumn({type: "string", role: "annotationText"});
        // rallylength
        data.addColumn({type: "number", role: "annotationText"});
        // result
        data.addColumn({type: "string", role: "annotationText"});

        // get rows into array
        const rows = [];

       
        // push each row from data into rows
        let row;
        let serverVal = 1;
        let receiverVal = 0;
        <% data.forEach(point => { %>
            row = [
                <%= point.setInMatch %>,
                <%= point.gameInSet %>,
                <%= point.pointInGame %>,
                <%= point.point %>,
                serverVal,
                receiverVal,
                "<%= point.gameScore %>",
                "<%= point.server %>",
                "<%= point.winner %>",
                <%= point.rallyLength %>,
                "<%= point.result %>"
            ];
            rows.push(row);
            serverVal++;
            receiverVal++;
        <% }) %>

        data.addRows(rows);


        // create dashboard instance
        const dashboard = new google.visualization.Dashboard(document.getElementById("dashboard_div"));

        // create control
        const setFilter = new google.visualization.ControlWrapper({
            controlType: "CategoryFilter",
            containerId: "filter_div",
            options: {
                filterColumnLabel: "Set in Match",
                ui: {
                    allowMultiple: false,
                    allowNone: false
                }
            }
        })

        // create line chart
        const lineChart = new google.visualization.ChartWrapper({
            chartType: "LineChart",
            containerId: "chart_div",
            view: {
                columns: [3, 4, 5]
            },
            options: {
                title: "Point Distribution",
                legend: {
                    position: "right"
                }
            }
        });

        // bind control to chart
        dashboard.bind(setFilter, lineChart);

        // draw
        dashboard.draw(data);
    }

</script>

<%- include("../partials/footer") %>
