<%- include("../partials/header") %>

<h1>Points2Set</h1>
<a href="/match">Go back</a>

<p>
    See point flow throughout set. A player has to win at least 24 (6 games times 4 points per game) points to win a set. So, both players start at 24 at the beginning of a set.
</p>

<div id="dashboard_div">
    <div id="filter_div"></div>
    <div id="chart_div"></div>
</div>

<script>

    // function to draw google charts
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        // array of players
        const players = ["<%= data[0].server %>", "<%= data[0].receiver %>"].sort((a,b) => a - b);
        const playerOne = players[0];
        const playerTwo = players[1];

        // initialize data table
        const data = new google.visualization.DataTable();
        // add columns
        data.addColumn("number", "Set in Match");
        data.addColumn("number", "Game in Set");
        data.addColumn("number", "Point in Game");
        data.addColumn("number", "Point Number");
        data.addColumn("number", playerOne);
        data.addColumn({type: "string", role: "tooltip"});
        data.addColumn("number", playerTwo);
        data.addColumn({type: "string", role: "tooltip"});
      
        // get rows into array
        const rows = [];

       
        // push each row from data into rows
        let row;
        let tooltip;
        let p2s = 24;
        let playerOneP2S;
        let playerTwoP2S;
        let playerOneVal = 0;
        let playerTwoVal = 0;

        //let playerOnePrevVal = 0;
        //let playerTwoPrevVal = 0;

        <% data.forEach((point, index) => { %>

            //if ("<%= point.pointScore %>" === "0-0") {
            //    playerOnePrevVal = playerOneVal;
            //    playerTwoPrevVal = playerTwoVal;

                //playerOneVal = Math.min(playerOneVal, playerOnePrevVal);
                //playerTwoVal = Math.min(playerTwoVal, playerTwoPrevVal);
            //}
            //console.log("<%= point.server %>", "<%= point.gameScore %>", "<%= point.pointScore %>", "<%= point.winner %>", playerOneVal, playerTwoVal);

            //playerOneP2S = p2s - playerOneVal;
            //playerTwoP2S = p2s - playerTwoVal;
            //create tooltip string
            tooltip = `Game Score: ${"<%= point.gameScore %>"}
                Point Score: ${"<%= point.pointScore %>"}
                 Server: ${"<%= point.server %>"}
                 Winner: ${"<%= point.winner %>"}
                 Rally Length: ${"<%= point.rallyLength %>"}
                 Result: ${"<%= point.result %>"}
                 ${playerOne}: ${playerOneVal}
                 ${playerTwo}: ${playerTwoVal}
                 `
                 ;
            row = [
                <%= point.setInMatch %>,
                <%= point.gameInSet %>,
                <%= point.pointInGame %>,
                <%= point.point %>,
                playerOneVal,
                tooltip,
                playerTwoVal,
                tooltip
            ];
            rows.push(row);
            
            //update score
            if ("<%= point.winner %>" === playerOne) {
                playerOneVal++;
               
            } else {
                playerTwoVal++
            }



        <% }) %>

        data.addRows(rows);


        // create dashboard instance
        const dashboard = new google.visualization.Dashboard(document.getElementById("dashboard_div"));

        // create control
        const setFilter = new google.visualization.ControlWrapper({
            controlType: "CategoryFilter",
            containerId: "filter_div",
            options: {
                filterColumnIndex: 0,
                ui: {
                    allowMultiple: false,
                    allowNone: false
                }
            }
        })


        // create line chart
        const lineChart = new google.visualization.ChartWrapper({
            chartType: "LineChart",
            containerId: "chart_div",
            view: {
                columns: [3, 4, 5, 6, 7]
            },
            options: {
                title: "Point Flow",
                legend: {
                    position: "right"
                },
                //pointSize: 5,
                vAxis: {
                    title: "# Points to Win Set",
                    //direction: -1,
                    //viewWindow: {max: 24},
                    //ticks: [0,4,8,12,16,20,24]
                },
                hAxis: {
                    title: "Point in Set",
                }
            }
        });

        // bind control to chart
        dashboard.bind(setFilter, lineChart);

        // draw
        dashboard.draw(data);
    }

</script>

<%- include("../partials/footer") %>
