<%- include("../partials/header") %>

<h1>Rally Tree</h1>
<a href="/match">Go back</a>

<p>See distribution of points by rally length</p>

View as: 
<select name="playerSelected" id="playerSelected">
    <% const players = [data[0].server, data[0].receiver] %>
    <% players.sort((a,b) => a - b).forEach(player => { %>
        <option value="<%= player %>"><%= player %></option>
    <% }) %>
</select>

<div id="rallyTree"></div>


<script>

    // function to draw google charts
        google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        

        // Set up pointTable columns
        const rallyTreeData = new google.visualization.DataTable();
        rallyTreeData.addColumn("number", "Rally Length");
        rallyTreeData.addColumn("number", "Points Won");

      

        const pointsObj = {};
        <% data.forEach(point => { %>
        <% if (point.winner === data[0].server) { %>
            pointsObj[<%= point.rallyLength %>] = (pointsObj[<%= point.rallyLength %>] || 0) + 1;
            <% } %>
        <% }) %>

        const rows = [];
        for (let key in pointsObj) {
            rows.push([Number(key), pointsObj[key]]);
        } ;

        rallyTreeData.addRows(rows);

        const rallyTreeBarChart = new google.visualization.BarChart(document.getElementById("rallyTree"));
        rallyTreeBarChart.draw(rallyTreeData);
      
        
    }
    
    
    
</script>

<%- include("../partials/footer") %>
