<%- include("../partials/header") %>

<h1>Match Summary</h1>

<a href="/match">Go back</a>

<div class="row">

  <div class="col-md-6">
    <h2 class="sub-header">Points</h2>
    <div class="table-responsive" id="pointTable"></div>
  </div>
 
  <div class="col-md-6">
    <h2 class="sub-header">Shots</h2>
    <div class="table-responsive" id="shotTable"></div>
  </div>
 
</div>




<script>
    google.charts.setOnLoadCallback(drawPointTable);

    
    function drawPointTable() {
     
      const pointData = new google.visualization.DataTable();
      pointData.addColumn("number", "Point #");
      pointData.addColumn("string", "Set Score");
      pointData.addColumn("string", "Game Score");
      pointData.addColumn("string", "Point Score");
      pointData.addColumn("string", "Server");
      pointData.addColumn("string", "Side");
      pointData.addColumn("string", "Rally Length");
      pointData.addColumn("string", "Winner");
      pointData.addColumn("string", "Result");

      const rows = [];
      <% data.forEach(point => { %>
        rows.push([
          <%= point.point %>,
         "<%= point.setScore %>",
         "<%= point.gameScore %>",
         "<%= point.pointScore %>",
         "<%= point.server %>",
         "<%= point.side %>",
         "<%= point.rallyLength %>",
         "<%= point.winner %>",
         "<%= point.result %>"
        ]);
       <% }) %>
       pointData.addRows(rows);

      const pointTable = new google.visualization.Table(document.getElementById('pointTable'));

      pointTable.draw(pointData, {sort: "disable"});
    };

    google.charts.setOnLoadCallback(drawShotTable);

    
    function drawShotTable() {
     
      const shotData = new google.visualization.DataTable();
      shotData.addColumn("number", "Point #");
      //shotData.addColumn("number", "Shot #");
      //pointData.addColumn("number", "Shot # w/Serve");
      //pointData.addColumn("string", "Shot By");
      //pointData.addColumn("string", "Shot");
      //pointData.addColumn("string", "Shot Location");
      //pointData.addColumn("string", "Result");

      const rows = [];
      <% data.forEach(point => { %>
      rows.push([<%= point.point %>])  
      
       <% }) %>
       shotData.addRows(rows);

      const shotTable = new google.visualization.Table(document.getElementById('shotTable'));

      shotTable.draw(shotData);
    };

  </script>
<%- include("../partials/footer") %>
