<%- include("../partials/header") %>

<h1>Match Summary</h1>

<a href="/match">Go back</a>

<div class="row">

  <div class="col-md-6">
    <h2 class="sub-header">Points</h2>
    <div class="table-responsive" id="pointTable"></div>
  </div>
 
  <div class="col-md-6">
    <h2 class="sub-header">Shots</h2>
    <div class="table-responsive" id="shotTable"></div>
  </div>
 
</div>




<script>

    google.charts.setOnLoadCallback(drawChart);
  
    function drawChart() {
     
      // Set up pointTable columns
      const pointData = new google.visualization.DataTable();
      pointData.addColumn("number", "Point #");
      pointData.addColumn("string", "Set Score");
      pointData.addColumn("string", "Game Score");
      pointData.addColumn("string", "Point Score");
      pointData.addColumn("string", "Server");
      pointData.addColumn("string", "Side");
      pointData.addColumn("string", "Rally Length");
      pointData.addColumn("string", "Winner");
      pointData.addColumn("string", "Result");

      // set up shotTable Columns
      const shotData = new google.visualization.DataTable();
      shotData.addColumn("number", "Point #");
      shotData.addColumn("number", "Shot #");
      shotData.addColumn("number", "Shot # w/Serve");
      shotData.addColumn("string", "Shot By");
      shotData.addColumn("string", "Shot");
      shotData.addColumn("string", "Shot Location");
      shotData.addColumn("string", "Result");

      // Add rows to tables
      const pointRows = [];
      const shotRows = [];
      <% data.forEach(point => { %>
        pointRows.push([
          <%= point.point %>,
         "<%= point.setScore %>",
         "<%= point.gameScore %>",
         "<%= point.pointScore %>",
         "<%= point.server %>",
         "<%= point.side %>",
         "<%= point.rallyLength %>",
         "<%= point.winner %>",
         "<%= point.result %>"
        ]);
        <% point.shots.forEach(shot => { %>
          shotRows.push([
            <%= point.point %>,
            <%= shot.shotNum %>,
            <%= shot.shotNumWithServe %>,
            "<%= shot.shotBy %>",
            "<%= shot.shotStroke %>",
            "<%= shot.shotLocation %>",
           " <%= shot.shotResult %>"
          ]);
        <% }) %>
       <% }) %>

       pointData.addRows(pointRows);
       shotData.addRows(shotRows);

      // Create and draw table
      const pointTable = new google.visualization.Table(document.getElementById('pointTable'));
      const pointTableOptions = {sort: "disable"};
      pointTable.draw(pointData, pointTableOptions);

      //const shotTable = new google.visualization.Table(document.getElementById('shotTable'));
      //const shotTableOptions = {sort: "disable"};
      //shotTable.draw(shotData, shotTableOptions);
      let shotView;
      
      // "click listener" function to filter shot table rows based on point clicked
      google.visualization.events.addListener(pointTable, "select", clickPointRow);
      function clickPointRow(e) {
        const selectedRow = pointTable.getSelection()[0];
        if (selectedRow) {
          const pointNum = pointData.getValue(selectedRow.row, 0);
          shotView = new google.visualization.DataView(shotData);
          shotView.setRows(shotView.getFilteredRows([{column: 0, value: pointNum}]));
          
        console.log(`Point # ${pointNum}`);
        } else {
          shotView = new google.visualization.DataView(shotData);
          console.log("Row Unclicked");
        }
        
        const shotTable = new google.visualization.Table(document.getElementById("shotTable"));
        shotTable.draw(shotView);


      }

    };

  
  

  </script>
<%- include("../partials/footer") %>
