<%- include("../partials/header") %>


  


<h1>Match Summary</h1>

<a href="/match">Go back</a>

<h3>Table</h3>

<div id="pointTable"></div>


<script>
    
    google.charts.setOnLoadCallback(drawPointTable);

    function drawPointTable() {
     

      const pointData = new google.visualization.DataTable();
      pointData.addColumn("number", "Point #");
      pointData.addColumn("string", "Set Score");
      pointData.addColumn("string", "Game Score");
      pointData.addColumn("string", "Point Score");
      pointData.addColumn("string", "Server");
      pointData.addColumn("string", "Side");
      pointData.addColumn("string", "Rally Length");
      pointData.addColumn("string", "Winner");
      pointData.addColumn("string", "Result");

      const rows = [];
      <% data.forEach(point => { %>
        rows.push([
          <%= point.point %>,
         "<%= point.setScore %>",
         "<%= point.gameScore %>",
         "<%= point.pointScore %>",
         "<%= point.server %>",
         "<%= point.side %>",
         "<%= point.rallyLength %>",
         "<%= point.winner %>",
         "<%= point.result %>"
        ]);
       <% }) %>
       pointData.addRows(rows);


        const pointTable = new google.visualization.Table(document.getElementById('pointTable'));

        pointTable.draw(pointData);
    };
  </script>
<%- include("../partials/footer") %>
